<textarea id="cScroll" rows="3" cols="30" [(ngModel)]="question" autofocus name="post" type="text" class="textEditor" placeholder=" What do you want to ask?"
    value="question" #questiontype></textarea>
<div class="tagsDiv">
    <tag-input [(ngModel)]='tags' [errorMessages]="errorMessages" [validators]="validators" id="tags" secondaryPlaceholder="Tags..."
        placeholder="+Tags..." [addOnBlur]='true' [blinkIfDupe]='true' [maxItems]='5' [modelAsStrings]='true' [editable]='true'
        [animationDuration]="animationDuration" [separatorKeyCodes]="[32]" (onTagEdited)="onTagEdited($event)" theme='minimal'>
        <tag-input-dropdown [autocompleteObservable]='requestAutocompleteItems'>
        </tag-input-dropdown>
    </tag-input>
</div>
<button mat-button (click)="validationPost()" class="btn">Ask</button>